<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APAS_Automation" configfailurepolicy="continue">

	<listeners>
		<listener class-name="com.apas.Listeners.SuiteListener"/>
		<listener class-name="com.apas.Listeners.TestAnnotationListener"/>
	</listeners>
	<test name="smoke" annotations="">
<!--		<groups>-->
<!--			<run>-->
<!--				<include name="smoke"/>-->
<!--			</run>-->
<!--		</groups>-->
		<classes>

			<!-- <class name="com.apas.Tests.BuildingPermit.BuildingPermitImportTest"/> -->

<!--			<class name="com.apas.Tests.ApasSettings.CityStratCodesTest" />-->
<!--			<class name="com.apas.Tests.ApasSettings.ReportsTest" />-->
<!--			<class name="com.apas.Tests.ApasSettings.RollwisePermissionTest" />-->
<!--			<class name="com.apas.Tests.ApasSettings.NonRelevantPermitSettingsTest" />-->
<!--			<class name="com.apas.Tests.BuildingPermit.BuildingPermitDataValidationTest" />-->
<!--			<class name="com.apas.Tests.BuildingPermit.BuildingPermitEditTest" />-->
<!--			<class name="com.apas.Tests.BuildingPermit.BuildingPermitManualCreationTest" />-->
<!--			<class name="com.apas.Tests.BuildingPermit.BuildingPermitImportTest"/>-->
<!--			<class name="com.apas.Tests.BuildingPermit.BuildingPermitTransactionsLogTest"/>-->

			<class name="com.apas.Tests.BppTrend.BppTrendCalculateAndSubmitTest"/>
		</classes>
	</test>
</suite>