<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APAS_Automation" configfailurepolicy="continue">

	<listeners>
		<listener class-name="com.apas.Listeners.SuiteListener"></listener>
		<listener class-name="com.apas.Listeners.TestAnnotationListener"></listener>
	</listeners>
	<test name="Login and Update Profile Test" annotations="JDK"
		preserve-order="true">
		<classes>
			<class name="com.apas.Tests.BppTrendsTest" />

		</classes>
	</test>
</suite>
