<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="APAS_Automation" configfailurepolicy="continue">

	<listeners>
		<listener class-name="com.apas.Listeners.SuiteListener"/>
		<listener class-name="com.apas.Listeners.TestAnnotationListener"/>
	</listeners>
	<test name="regression" annotations="">
		<groups>
			<run>
				<include name="regression"/>
			</run>
		</groups>
		<classes>

			 <class name="com.apas.Tests.WorkItemsTest.WorkIemAdministration.WorkItemAdministration_PoolAssignment_Test">
				 <methods>
					 <include name="WorkItemAdministration_UpdateNeighborhood_ValidatePoolAssignment"/>
				 </methods>
			 </class>

		</classes>
	</test>
</suite>